        @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
        * {
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }
        
        .main {
            position: absolute;
            width: 1332px;
            height: 2228px;
            left: 0px;
            top: -260px;
            opacity: 0.7;
        }
        
        .bag {
            position: absolute;
            left: 5.45%;
            right: 85.91%;
            top: 2.68%;
            bottom: 95.53%;
        }
        
        .heading {
            position: absolute;
            width: 673px;
            height: 238px;
            left: 70px;
            right: 100px;
            top: 120px;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 132px;
            letter-spacing: 0.01em;
            color: #000000;
        }
        
        .subheading {
            position: absolute;
            width: 532px;
            height: 102px;
            left: 80px;
            top: 650px;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.01em;
            color: #000000;
        }
        
        .pic1 {
            position: absolute;
            width: 224px;
            height: 594.76px;
            left: 747px;
            top: 135px;
            background: url(a1.jpg);
        }
        
        .pic2 {
            position: absolute;
            width: 224px;
            height: 688px;
            left: 989px;
            top: 17px;
            background: url(a3.png);
        }
        
        .pic3 {
            position: absolute;
            width: 211px;
            height: 688px;
            left: 1231px;
            top: 52px;
            background: url(a7.png);
        }
        
        .box {
            position: absolute;
            width: 220px;
            height: 65px;
            left: 80px;
            top: 740px;
            background: #0A0F3C;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }
        
        .text {
            position: absolute;
            width: 174px;
            height: 48px;
            left: 100px;
            top: 755px;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
        
        .b1 {
            position: absolute;
            width: 388px;
            height: 420px;
            left: 83px;
            top: 862px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
            border-radius: 23px;
        }
        
        .b1-pic {
            position: absolute;
            width: 313px;
            height: 313px;
            left: 120px;
            top: 895px;
            background: url(a3.png);
            border-radius: 23px;
        }
        
        .b1-circle {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 247px;
            top: 1217px;
            background: #303030;
            border-radius: 50px;
        }
        
        .b1-add {
            position: absolute;
            left: 257px;
            right: 80.69%;
            top: 1228px;
            bottom: 34.35%;
        }
        
        .b2 {
            position: absolute;
            width: 388px;
            height: 420px;
            left: 554px;
            top: 862px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
            border-radius: 23px;
        }
        
        .b2-pic {
            position: absolute;
            width: 313px;
            height: 313px;
            left: 590px;
            top: 895px;
            background: url(a1.jpg);
            border-radius: 23px;
        }
        
        .b2-circle {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 739px;
            top: 1217px;
            background: #303030;
            border-radius: 50px;
        }
        
        .b2-add {
            position: absolute;
            left: 749px;
            right: 48.15%;
            top: 1228px;
            bottom: 34.35%;
        }
        
        .b3 {
            position: absolute;
            width: 388px;
            height: 420px;
            left: 1047px;
            top: 862px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
            border-radius: 23px;
        }
        
        .b3-pic {
            position: absolute;
            width: 313px;
            height: 313px;
            left: 1088px;
            top: 895px;
            background: url(a7.png);
            border-radius: 23px;
        }
        
        .b3-circle {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 1220px;
            top: 1217px;
            background: #303030;
            border-radius: 50px;
        }
        
        .b3-add {
            position: absolute;
            left: 1230px;
            right: 14.95%;
            top: 1228px;
            bottom: 34.3%;
        }
        
        a {
            color: white;
            text-decoration: none;
        }